In [3]:
import pandas as pd
import sqlalchemy as sa
import psycopg2

import ssbfromapi
import ssbintotable

In [4]:
ob = ssbfromapi.SSBData('09171', 'tab_09171.json')

In [5]:
df = pd.DataFrame(ob.serialize(), index=ob.index.values())

In [6]:
df

             nr23_6                 pub2X01_02              pub2X03         \
               Prob     Pin    BNPB       Prob   Pin   BNPB    Prob    Pin
2019-10-01  1590874  761709  829165      10348  5039   5309   30455  17926
2020-01-01  1534042  732772  801269       9543  4860   4683   29182  14994
2020-04-01  1355521  663782  691740       9811  9998   -187   24700  14174
2020-07-01  1383458  664331  719126      19172  6886  12286   23661  16296
2020-10-01  1535161  737733  797428      10120  4902   5219   27867  18803


             BNPB
2019-10-01  12529
2020-01-01  14188
2020-04-01  10526
2020-07-01   7365
2020-10-01   9064

In [7]:
engi = sa.create_engine(r'postgresql+psycopg2:///barc')

In [8]:
with sa.orm.Session(engi) as ses:
    records = ob.iter_records()
    for idx, col, val in records:
        rec = ssbintotable.NaacTable(idx, col, val)
        ses.add(rec)
    ses.commit()